<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--main nar navigation-->
  
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-6 text-center">Welcome to the <%= title %> Page</h1>
    </div>
  </main>


<!-- Show the template of the respective page -->

<% if (title == "Home" || title == "home") { %>
  <%- include partials/home.ejs %>
<% } %>

<% if (title == "About") { %>
  <%- include partials/about.ejs %>
<% } %>

<% if (title == "Projects") { %>
  <%- include partials/projects.ejs %>
<% } %>

<% if (title == "Services") { %>
  <%- include partials/services.ejs %>
<% } %>

<% if (title == "Contact") { %>
  <%- include partials/contact.ejs %>
<% } %>

  <!--<h1><%= title %></h1>-->
  <!--<p>Welcome to <%= title %></p>-->
  <!--script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>




<!--
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Consent/app.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
-->
